<h1 mat-dialog-title>Detailed information about the time elapsed in each of the JSON Schema extraction steps</h1>
<div mat-dialog-content>
	<ul>
	    <li>
	    	Step 1: Load the record structure (Raw Schema): <br> {{stepOneElapsedTime}}
	    </li>
	    <li>
	    	Step 2.1: Reduce the documents from step 1 with the same structure (Raw Schema): <br>{{stepTwoDotOneElapsedTime}}
	    </li>
	    <li>
	    	Step 2.2: Sort the structure of documents from step 2.1 alphabetically and reduce: <br>{{stepTwoDotTwoElapsedTime}}
	    </li>
	    <li>
	    	Step 3: Join the document structure from step 2.2: <br> {{stepThreeElapsedTime}}
	    </li>
	    <li>
	    	Step 4: Map document structure resulting from step 3 to JSON Schema: <br>{{stepFourElapsedTime}}
	    </li>
	    <li>
	    	Total time: <br> {{allStepsElapsedTime}}
	    </li>
  	</ul>
</div>
